.row {
  display: flex;
  justify-content: space-around;
}

.row .col {
  width: calc(33.3333333333% - 20px);
}

.row .col .card {
  background-color: lightgreen;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

